<p>{{ title }}</p>
<input type="text" [value]="msg" />
<p>{{ msg }}</p>

<button (click)="add()">Add</button>
<button (click)="clean()" style="margin-left: 5px">Clean</button>
<pre>{{ arrayClick | json }}</pre>

<!-- <app-comp1></app-comp1> -->

<div class="rainbow">
  <table>
    <tr>
      <td style="background-color: red">{{ red }}</td>
    </tr>
    <tr>
      <td style="background-color: yellow">{{ yellow }}</td>
    </tr>
    <tr>
      <td style="background-color: green">{{ green }}</td>
    </tr>
    <tr>
      <td style="background-color: lightblue" [textContent]="lightblue"></td>
    </tr>
    <tr>
      <td style="background-color: blue" [textContent]="blue"></td>
    </tr>
    <tr>
      <td style="background-color: violet" [textContent]="violet"></td>
    </tr>
  </table>
</div>
